<div class="admin-wrapper">
<h1>Listing Profiles</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address</th>
    <th>Mobile</th>
    <th>Avatar</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.firstname %></td>
    <td><%= profile.lastname %></td>
    <td><%= profile.address %></td>
    <td><%= profile.mobile %></td>
    <td><%= image_tag profile.avatar.url, :class=>"img-sml" %></td>
    <td><%= profile.user.email %></td>
    <td><%= link_to '', profile, :class=>"icon-show", :title=>"Show" %></td>
    <td><%= link_to '', edit_profile_path(profile), :class=>"icon-edit", :title=>"Edit" %></td>
    <td><%= link_to '', profile, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"icon-delete", :title=>"Delete" %></td>    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
</div>
