<div class="admin-wrapper">
<h1>Listing fixtures</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Date</th>
    <th>Time</th>
    <th>Club id</th>
    <th>Opposition id</th>
    <th>Home</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fixtures.each do |fixture| %>
  <tr>
    <td><%= fixture.location %></td>
    <td><%= fixture.date %></td>
    <td><%= fixture.time %></td>
    <td><%= link_to fixture.clubid, :controller => 'clubs', :action => 'show', :id=>fixture.clubid %></td>
    <td><%= link_to fixture.oppid, :controller => 'clubs', :action => 'show', :id=>fixture.oppid %></td>
    <td><%= fixture.home %></td>
    <td><%= link_to '', fixture, :class=>"icon-show", :title=>"Show" %></td>
    <td><%= link_to '', edit_fixture_path(fixture), :class=>"icon-edit", :title=>"Edit" %></td>
    <td><%= link_to '', fixture, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"icon-delete", :title=>"Delete" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fixture', new_fixture_path %>
</div>
