<h1>Listing fixtures</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Date</th>
    <th>Time</th>
    <th>Clubid</th>
    <th>Oppid</th>
    <th>Home</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fixtures.each do |fixture| %>
  <tr>
    <td><%= fixture.location %></td>
    <td><%= fixture.date %></td>
    <td><%= fixture.time %></td>
    <td><%= fixture.clubid %></td>
    <td><%= fixture.oppid %></td>
    <td><%= fixture.home %></td>
    <td><%= link_to 'Show', fixture %></td>
    <td><%= link_to 'Edit', edit_fixture_path(fixture) %></td>
    <td><%= link_to 'Destroy', fixture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fixture', new_fixture_path %>
