<div class="admin-wrapper">
<p id="notice"><%= notice %></p>

<p>
  <b>Location:</b>
  <%= @fixture.location %>
</p>

<p>
  <b>Date:</b>
  <%= @fixture.date %>
</p>

<p>
  <b>Time:</b>
  <%= @fixture.time %>
</p>

<p>
  <b>Clubid:</b>
  <%= link_to @fixture.clubid, :controller => 'clubs', :action => 'show', :id=>@fixture.clubid %>
</p>

<p>
  <b>Opposition id:</b>
  <%= link_to @fixture.oppid, :controller => 'clubs', :action => 'show', :id=>@fixture.oppid %>
</p>

<p>
  <b>Home:</b>
  <%= link_to @fixture.home, :controller => 'clubs', :action => 'show', :id=>@fixture.home %>
</p>

<p>
  <a href="/gamestats/fixture/<%= @fixture.id%>/club/<%= @fixture.clubid %>/oppositionclub/<%= @fixture.oppid %>">View game stats</a>
</p>


<%= link_to 'Edit', edit_fixture_path(@fixture) %> |
<%= link_to 'Back', fixtures_path %>
</div>
