<p id="notice"><%= notice %></p>

<p>
  <b>Mins:</b>
  <%= @fixturestat.mins %>
</p>

<p>
  <b>Goals:</b>
  <%= @fixturestat.goals %>
</p>

<p>
  <b>Assists:</b>
  <%= @fixturestat.assists %>
</p>

<p>
  <b>Shotstarget:</b>
  <%= @fixturestat.shotstarget %>
</p>

<p>
  <b>Shotswide:</b>
  <%= @fixturestat.shotswide %>
</p>

<p>
  <b>Passsuccess:</b>
  <%= @fixturestat.passsuccess %>
</p>

<p>
  <b>Passmissed:</b>
  <%= @fixturestat.passmissed %>
</p>

<p>
  <b>Tackleswom:</b>
  <%= @fixturestat.tackleswon %>
</p>

<p>
  <b>Tackleslost:</b>
  <%= @fixturestat.tackleslost %>
</p>

<p>
  <b>Og:</b>
  <%= @fixturestat.og %>
</p>

<p>
  <b>Yc:</b>
  <%= @fixturestat.yc %>
</p>

<p>
  <b>Rc:</b>
  <%= @fixturestat.rc %>
</p>

<p>
  <b>Fixtureid:</b>
  <%= @fixturestat.fixtureid %>
</p>

<p>
  <b>Playerid:</b>
  <%= @fixturestat.playerid %>
</p>


<%= link_to 'Edit', edit_fixturestat_path(@fixturestat) %> |
<%= link_to 'Back', fixturestats_path %>
