<div class="admin-wrapper">
<p id="notice"><%= notice %></p>
<h1><%= @player.firstName %> <%= @player.lastName %></h1>
<p>
  <b>First name:</b>
  <%= @player.firstName %>
</p>

<p>
  <b>Last name:</b>
  <%= @player.lastName %>
</p>

<p>
  <b>Position:</b>
  <%= @player.position %>
</p>

<p>
  <b>Dob:</b>
  <%= @player.dob %>
</p>

<p>
  <b>Height:</b>
  <%= @player.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @player.weight %>
</p>

<p>
  <b>Club id:</b>
  <%= @player.clubid %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
</div>
