<!DOCTYPE html>
<html ng-app="coachStat">
<head>
  <title>Coachstat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper"> 
	<div id="navbar">
		<a href="/">
			<h1>CoachStat</h1>
		</a>
		<span>every stat counts...</span>
		<nav id="menu">
			<ul id="menu-nav"> 
				
				<% if user_signed_in? %> 
				
					<% if current_user.try(:admin?) %>
						<li><a href="/admin" alt="Dash">Dash</a></li>
						<li><a href="/logs" alt="Logs">Logs</a></li>
						<li><a href="/users" alt="Users">Users</a></li>
						<li><a href="/clubs" alt="Clubs">Clubs</a></li>
						<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li> 
					
					<% else %> 
						<li><a href="/#/clubs" alt="Clubs">Clubs</a></li>
						<li><a href="/#/myaccount" alt="My Account">My Account</a></li>
						<li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li> 
					<% end %>
				<% else %> 
		 			<li><%= link_to 'Login', new_user_session_path %></li> 
		 			<li><%= link_to 'Register', new_user_registration_path %></li>
				<% end %>
			</ul> 
		</nav>
		
	</div>

	<%= yield %>
	
	<div id="subbar">
		<p class="notice"><%= notice %></p> 
		<p class="alert"><%= alert %></p>	
	</div>
</div>


<div class="footer">
	<span class="links">
		<a href="/#/contactus">Contact Us</a> | 
		<a href="/legal">Legal</a>
	</span>
</div>
	<%= javascript_include_tag "application" %>
</body>
</html>
